.button {
  all: unset;
  background-color: #ffffff;
  border-radius: 8px;
  color: black;
  padding: 1vmax 2vmax;
  font-weight: 600;
  font-size: 1.1rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.button:hover {
  color: #fff;
  background-color: #000;
}

.button:disabled {
  cursor: not-allowed;
  background-color: #aaa;
  color: #000;
}
@media (width <= 500px) {
  .button {
    padding: 1vmax;
    font-size: 0.8rem;
  }
}
